.carousel {
    height: 350px;
    margin: 0;
    width: 100%;
    position: relative;
}

.imageSlide {
    height: 350px;
    width: 100%;
    transition: background-image .3s ease-in-out;
}

.slideArrow {
    color: #14B6D4;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 45%;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
